body {
    background-color: lightgrey;
}

h1 {
    font-family: arial;
    color: purple;
    text-align: center;
}

p {
    font-family: verdana;
    color: purple;
    font-size: 20px;
}
