body {
    background-color: lightgrey;
}

h1 {
    font-family: lucida-console;
    color: purple;
    text-align: center;
}

p {
    font-family: courier-new;
    color: purple;
    font-size: 20px;
}
