body {
    background-color: white;
}

h1 {
    font-family: orienta;
    color: purple;
    text-align: center;
}

p {
    font-family: pridi;
    color: purple;
    font-size: 20px;
}
